body {
  cursor: url('Crowbar.png');
  font-family: Arial;
  font-weight: lighter;
  font-size: 150%;
  background-image: url(hl.webp);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding-left: 6.5%;
  padding-top: 5%;
  overflow: hidden;
  background-color: black;
}


    ul {
        font-size: 200%;
        text-align: left;
    }
 li {
    list-style-type: none;
    
 }
    a:hover {
     animation: darkglow ease 0.25s forwards;
        
    }

     a {
cursor: pointer;
        text-decoration: none;
        color: #ffc400;
       text-shadow:0 0 10px #ffc400 ;
     }

.exit:active, .exit:hover:active {
  animation-name: cssAnimation;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes cssAnimation {
  0% {
    color: red;
  }
  100% {
    
  }
}

@keyframes darkglow {
  0% {
    
  }
  100% {
    color: #c07300;
    text-shadow:0 0 10px #c07300 ;
  }
}

.radio:active {
  animation: boop 0.25s ease forwards;
}

@keyframes boop {
  0% {
  filter: blur(5px);
  }
  100% {
    
  }

}
.behind {
  animation: party 0.5s infinite linear;
  z-index: -999;
  filter: blur(5px) opacity(50%);
  scale: 150%;

}
.radio {

  z-index: 999;
  
}
@keyframes marquee {
  50% {
   transform: translateX(25%);
  }
  75% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(0%);
  }

}

.moving {
  animation: marquee 4s linear infinite;

}

@keyframes party {
  0% {
  
  }
  50% {
    filter: blur(3px) opacity(90%);   
  }
  100% {
 
  }
}