body {
    background-color: black;
    color: white;
    font-family: monospace;
    font-size: 250%;
}
* {
    font-size: 1vw;
    font-weight: 0;
    transition: all 0.25s ease-in-out;
}
a {
    text-decoration: none;
    color: black;
    background-color: white;
}
button {
font-family: monospace;
font-size: 1vw;
padding: 1.04vw;
background-color: black;
color: white;
border: 0.009vw solid white;
cursor: pointer;
}
button:hover {
    background-color: white;
    color: black;
    border: black 0.01vw solid;
}
a:hover {
    color: white;
    background-color: black;
}
ul {
    padding-left: 5%;
    list-style-type: " --> ";
}
.cyan {
    color: cyan;
}
.lblue {
    color: rgb(0, 142, 230);
}
.alias {
    margin-top: -1%;
    color: rgba(148, 255, 255, 0.827);
}
.ascii {
    position: absolute;
    top: 20px;     
    right: 20px;  
    margin: 0;
    display: block;
    text-align: right;
    white-space: pre; 
}
.switcher {
position: absolute;
bottom: 20px;
justify-content: space-between;
display: flex;
width: 99%;
}
p,h2,h3 {
    padding-right: 65%;
}