body {
    background-color: black;
    color: white;
    font-family: monospace;
    font-size: 275%;

}
a {
    text-decoration: none;
    color: lightblue;
    
}
a:hover {
    color: lightcoral;
}
.red {
    color: red;
}